*{
    margin:none;
    border:border-box;
    padding:none;
}
.nav-bar{
    height:60px;
    width:100%;
    background-color:black;
    display:flex;
    align-items:center;
    

                    
}
.nav-logo{
    height:40px;
    width:120px;
    background-image:url('amazonlogo.png');
    background-size:cover;
    

}